#SideMenu {
  width: 275px;
  height: 100vh;
  background-color: var(--primary-color);
  transition: ease all 250ms;
  position: relative;
  border-right: 1px solid var(--border-color);

  * {
    transition: ease all 250ms;
  }

  header {
    border-bottom: 1px solid var(--border-color);
    color: white;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid var(--border-color);

    @media screen and (max-width: 991px) {
      position: static;
    }
  }

  @media screen and (max-width: 991px) {
    width: 100%;
    order: 2;
    height: auto;
  }

  .appName {
    color: rgb(159, 168, 193);



    @media screen and (max-width: 450px) {
      display: none;
    }
  }

  a {
    color: rgb(159, 168, 193);
    text-decoration: none;

    &:hover {
      color: white;
    }
  }

  .activeLink {
    color: white;
    font-weight: 700;
  }

  .appIcon {

    @media screen and (max-width: 450px) {
      font-size: 1.5rem;
    }
  }
}