.fleetTopBar {
  position: sticky;
  top:0;
  left: 0;
  background-color: #171829;
  ul {
    li {
      color: rgba(255, 255, 255, 0.6);
      cursor: pointer;
      transition: ease 400ms all;
      &:hover {
        background-color: #383a63;
      }
    }
    .activeLink {
      color: white;
      background-color: #383a63;
    }
  }
}
