#ActivatePage {
  background-color: rgb(16, 16, 28);
  min-height: 100vh;
  color: white;
  .content {
    width : 600px;
    max-width: 96%;
    background-color: #171829;
    box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 37px 0px;
    .theLink {
      cursor: pointer;
      text-decoration: underline;
      &:hover{
        color : rgb(0, 145, 255)
      }
    }
  }
}
