#UsersApp {
    .content {
        background-color: #171829;
        height: 100%;
        overflow-y: auto;

        table {
            tbody {
                tr {
                    cursor: pointer;
                }
            }

            th {
                background-color: rgb(16, 16, 28) !important;
            }

            td {
                background-color: rgba(0, 0, 0, 0) !important;
            }
        }
    }
}