#Page404 {
  background-image: url("@/assets/login_bg.jpg");
  background-color: #10101c;
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
