#HomePage {
  // background-image: url("@/assets/login_bg.jpg");
  background-color: rgb(16, 16, 28);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100vh;
  overflow: hidden;
  color: white;

  .NavAndTabs {
    ul {
      background-color: #171829;
      li {
        background-color: transparent;
        color: grey;
        text-align: center;
        font-size: 1rem;
        padding: 1rem;
        transition: ease all 400ms;
        cursor: pointer;
      }
      li.active {
        background-color: #383a63;
        color: white;
        font-weight: 600;
      }
    }
  }
}
